@model TS.DTO.Data

<!----------Sweet Alert-->
<script type="text/javascript" src="~/SweetAlert/sweetalert-master/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/SweetAlert/sweetalert-master/dist/sweetalert.css" />
<link rel="stylesheet" type="text/css" href="~/SweetAlert/sweetalert-master/themes/twitter/twitter.css" />
<script src="~/datepicker/bootstrap-datepicker.js"></script>

@if (Model.Ok == true)
{

   <section class="content-header">
        <h3 style="text-align:center">
            All Groups<br />
        </h3><hr />

        <ol class="breadcrumb" style="border:none;">
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home" style="font-size:x-small"></i> Home</a></li>
            
                <li><a href="@Url.Action("Create", "Groups")"><i class="glyphicon glyphicon-plus-sign" style="font-size:x-small"></i> Add New</a></li>
           

            <li class="active"><i class="glyphicon glyphicon-list" style="font-size:x-small"></i>All Groups</li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <table class="table table-bordered table-striped text-center" id="example1" style="border:1px solid white">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>

                                <th>
                                    Actions
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Object)
                            {
                                <tr>
                                    <td>
                                        <b>@item.Name</b>
                                    </td>
                                   
                                    <td>
                                        
                                            <a class="glyphicon glyphicon-remove-circle tooltipNormal" data-toggle="tooltip" title="Delete!" data-id="@item.Id" onclick="deleteGroup(this)" style="cursor:pointer;margin-left:-10px"></a>
                                   
                                    </td>


                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Actions
                                </th>


                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(function () {
            $("#example1").DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "scrollX": true
            });
        });
    </script>
    
        @*<script src="~/ScriptsFunctions/DeleteGroup.js"></script>*@
    <script>
        function deleteGroup(e) {
            var Id = $(e).data("id");
            swal({
                title: "Are you sure you want to delete this Group?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes!",
                cancelButtonText: "No,cancel!",
                closeOnCancel: false,
                closeOnConfirm: false
            },
                function (isConfirmed) {
                    if (isConfirmed) {
                        $.ajax({
                            type: "POST",
                            url: "/Groups/Delete/" + Id,
                            dataType: "html",
                            success: function (result) {
                                if (JSON.parse(result)["Ok"] == true) {
                                    toastr.success(JSON.parse(result)["Message"], { showDuration: 300 });

                                } else {
                                    toastr.error(JSON.parse(result)["Message"], { showDuration: 300 });
                                }
                            }
                        });
                    }
                    else {
                        swal("Cancelled", "You have pressed cancel!");
                    }
                    location.reload(true);
                })

        }
    </script>

}
else
{
    <script>

        swal({
            title: '@Model.Message',
            type: "warning",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "OK!",
            closeOnConfirm: true
        },
             function (isConfirmed) {
                 if (isConfirmed) {
                 }
                 else {
                     swal("You have not pressed OK!");
                 }
             });
    </script>
}

