@model TS.DTO.Data

@if (Model.Ok == true)
{
    TS.DTO.QuestionsHelpDTO data= Model.Object.ToObject<TS.DTO.QuestionsHelpDTO>();
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-2">
                        <label for="QuestionName">Question Name</label>
                        <textarea class="form-control" id="FName" style="width:400px;height:100px">@data.QuestionName</textarea>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-6">
                        <label for="A1">The First Answer</label>
                        <textarea class="form-control" id="Fa1" style="max-width:400px;height:100px">@data.A1</textarea>
                    </div>
                    <div class="col-md-2">
                        <label for="V1">The First Value</label>
                        <input type="text" class="form-control" id="Fv1" value="@data.V1" />
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-6">
                        <label for="A2">The Second Answer</label>
                        <textarea class="form-control" id="Fa2" style="max-width:400px;height:100px">@data.A2</textarea>
                    </div>
                    <div class="col-md-2">
                        <label for="V2">The Second Value</label>
                        <input type="text" class="form-control" id="Fv2" value="@data.V2" />
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-6">
                        <label for="A3">The Third Answer</label>
                        <textarea class="form-control" id="Fa3" style="max-width:400px;height:100px">@data.A3</textarea>
                    </div>
                    <div class="col-md-2">
                        <label for="V3">The Third Value</label>
                        <input type="text" class="form-control" id="Fv3" value="@data.V3" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label for="A4">The Fourth Answer</label>
                        <textarea class="form-control" id="a4" style="max-width:400px;height:100px">@data.A4</textarea>
                    </div>
                    <div class="col-md-2">
                        <label for="V4">The Fourth Value</label>
                        <input type="text" class="form-control" id="v4" value="@data.V4" />
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-6">
                        <label for="A5">The Fifth Answer</label>
                        <textarea class="form-control" id="a5" style="max-width:400px;height:100px">@data.A5</textarea>
                    </div>
                    <div class="col-md-2">
                        <label for="V5">The Fifth Value</label>
                        <input type="text" class="form-control" id="v5" value="@data.V5" />
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="row">
                    @Model.Message
                </div>
                <br />
            </div>
        </div>
    </div>
}





